<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>474737003844-n2iahv4k4c5no625o0h5rhjv5irpfg1o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOrOkVLpN_gTvMRcdeHvD-Tu7jqhzZt5g</string>
	<key>GCM_SENDER_ID</key>
	<string>474737003844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hidopi.mycra</string>
	<key>PROJECT_ID</key>
	<string>mycra-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>mycra-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474737003844:ios:f6c58fea505809d7cd5b11</string>
</dict>
</plist>